@charset "utf-8";

/* icon*/
.leftmenu .toggle-icon, .nav2-grid02 .toggle-icon, .bet-area .toggle-icon,
.icon-next, .icon-back, .icon-panel-arrow, .pop-close, .nav2 .btn-nav, .btn-i, .nav2 .btn-l, .nav2 .btn-r,
.pop-up .receipt-head .icon-receipt, .pop-up a.betslip-close, .leftmenu ul ul .toggle-icon,
.header ul.right-nav1 li a .arrow,
.menu-toggle .toggle-icon, .slide-bottom .title .icon-title, .footer-search a.submit .icon,
.minus-icon, .plus-icon, .dropdown-icon, .nav1 a:after, .receipt-header:before, .row-wrap .active:before,.icon-next02, input.betslip-check[type="checkbox"], .row-wrap .cell-active:before
,.row-wrap .active-gray:before{
background-image:url(../../images/uni_icon_001.png); 
background-repeat:no-repeat; 
background-size:auto 126px;
}
.grades_wks{width:90px;margin:14px 0 0 -70px;font-size:12px;}
.leftmenu .toggle-icon, .bet-area .toggle-icon { background-position: 9px 11px;}
.leftmenu .active .toggle-icon, .bet-area .active .toggle-icon { background-position: 9px -19px;}
.leftmenu ul .active ul .toggle-icon { background-position: -338px -48px}
.icon-back { background-position:-374px -52px;}
.icon-back:active { background-color:#F1F1F1;}
.nav2 .btn-nav { background-position: -37px 5px}
.icon-next ,.icon-next02{ background-position: 10px -82px}
.active .icon-next02{ background-position: -338px -51px}

.icon-panel-arrow { background-position:-339px -65px;}
.btn-i { background-position:-413px -85px;}
.nav2 .btn-l { background-position:-40px -60px;}
.nav2 .btn-r { background-position:-40px -95px;}
.nav2-grid02 .toggle-icon { background-position: 4px 8px;}

/*common class*/
input[type=text], .input, .keyboard li {
box-shadow: 0px 2px 0px rgba(0,0,0,.1); 
-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,.1); 
-moz-box-shadow: 0px 2px 0px rgba(0,0,0,.1); 
border-color: #cccccc;
}
input[type=text]:active, input[type=text]:focus, .input:active { background:#F4F4F4;}
.keyboard li:active, .keyboard li:focus {}
button { border-color: #3a3939;}

/*header*/
.header { background-color: #98171a; border-color: #7a1215}
/*sports-header */
.sports-header .logo {
background-image: url('../../images/display_logo_001.png'); 
background-position:center center;
background-size:133px 34px;
background-repeat:no-repeat;
}

/*.nav*/
.left-aside {
background: #E0E0E0 url(../../images/uni_menu_bg_001.png) center bottom repeat-x;
background-size: auto 129px;
}
.nav1 li.title { background-color:#fff;}
.nav1 li a div { 
background: #efeeee;
color: #E5E5E5;
}
.prematch-menu .arrow, .nav1 a:after { background-position: -5px -64px}

.nav2 { border-color:#e0e0e0;}
.nav2 .icon-back, .nav2 .btn-nav { color:#CCCCCC;}
.nav2 .icon-back, .nav2-grid02 .toggle-icon{
border-color: #ccc;
}
.nav2 .btn-choose {
color: #969696;
border-color: #ccc;
}
.nav2 .btn-choose:active, .nav2 .btn-choose.on{ color:#FFFFFF; background-color:#98171a; border-color:#98171a;}
.nav-count .number { border-color: rgba(0,0,0,.25)}
.lottery-title .nav2 .nav2-title .second {color: #a92d2d;}

/*left menu*/
.leftmenu { background: #efeeee; color: #E5E5E5; border-color: #fff;}
.leaguemenu { color:#fff;}
.leftmenu a, .leftmenu ul { border-bottom-color: #fff; border-top-color: #cfcfcf;}
.leftmenu a { background-color: #e5e5e5;}
.leftmenu a:hover { background-color: #DADADA;}
.leftmenu .active a { background-color: #E5E5E5; border-bottom-color: #EFEFEF;}
.leftmenu .active li a ,.leaguemenu .active li a{
    background-color: #969494;
    border-bottom-color: #757575;
    border-top-color: #969494;
    color: #fff;
}
.leftmenu .active li a .count{color: #fff;}
.active .left-menu-02 { border-top:3px solid #717171}


.leaguemenu { border-color: #d6d6d6;}
.leaguemenu a{ background-color: #fff;}
.leaguemenu .active a { background-color: #fff; color: #971D25;}
 { background-color: #EFEFEF; border-bottom-color: #EFEFEF; color: #666;}

.block { background: rgba(19, 19, 19, 0.78);}

.league-menu-bottom{ background: #FFFFFF;}

/*Topic*/
.game-table { color:#666666; background:#FFFFFF; border-bottom-color: #CCCCCC!important;}
.game-table li { border-bottom-color: #CCCCCC!important;}
.game-table li a span { color:#666666;}
.game-table li a:active { background:#e2e2e2;}
.game-table .table-title { color:#333333; border-bottom-color: #cccccc!important}
.game-table .table-title:active { background:#FFFFFF;}
.game-table-two, .game-table-three { border-right-color: #CCCCCC!important; border-bottom-color: #CCCCCC!important;}

/*menu-toggle*/
.menu-toggle .toggle-icon { background-position: 14px 11px;}
.menu-toggle .open .toggle-icon { background-position: 14px -19px;}
.lotto-toggle2 .title-small { background: #F5F5F5}

/*carousel tab*/
.list-wrap-date li a { color: #ddd}

/*bet-slip*/
.bet-area .betslip-multi, .receipt.parley .bet-header.parley { background:#F5F5F5;}
.bet-area .betslip-multi ul li.bet-area01{ border-color:#EAEAEA;}
.bet-area .betslip-multi ul li.bet-area02, .bet-area .betslip-single ul li.bet-area02{ color: #666666;}
.bet-area .txt-light { color: #9a181b;}
.bet-area .betslip-single ul.bet-area li.bet-area01 ul li{ background:#FFFFFF;}
.bet-area .betslip-single ul.bet-area li.bet-area02, .bet-area ul li.bet-area-center { background:#F5F5F5;}
.receipt-wrap .status{ color:#666666; background-color:#FFFFFF;}
.receipt-wrap .bet-area{ border-bottom-color:#d6d5d5;}

.odds-1 { background-color: #FECBCB;}
.odds-1 { 
border-color: #fc5e5e!important;
}
.odds-1, .odds-1 .name, .odds-1 .red, .odds-3.name { 
color: #F44A4A!important
}
.odds-2, .odds-2.red { background-color:#F9B5B5 !important;}
.odds-4 .odds-1, .odds-4 .bet-header, .odds-4 .name, .odds-4 .type, 
.odds-4 .backmoney, .odds-4, .odds-4 .red, .odds-4 .bet-area02, .odds-4 .txt-light { 
color: #868686 !important; 
background: none!important; 
}
.odds-4 { background-color: #9E9E9E!important}
.odds-4 .odds-1, .odds-4 .bet-area01 {border-color: #868686!important;}
.odds-4 input, .odds-4 .odds-2 { color: #9D9D9D!important; background: #888888!important; border-color: transparent!important;}
.odds-4 .input {
border-color: #827C7C !important;
background-color: #888;
color: #9C9B9B !important;
}
.odds-4 input[type=text], .odds-4 .input {
border-bottom-color: #777777!important;
box-shadow: 0px 2px 0px #777777;
-webkit-box-shadow: 0px 2px 0px #777777;
-moz-box-shadow: 0px 2px 0px #777777;
}

.unselect{color: #6E6E6E;}

/*countdown*/
.CountDownArea .Background {
box-shadow:0 0 3px #7a1215;
}
.CountDownArea .Background .Number {
box-shadow:0 0 3px #7a1215 inset;
}
.CountDownArea .Background .Number span {
color:#FFF;
}
.CountDownArea .Background .side .fill {
background: #FFF;
}
.CountDownArea .Background .Ball2 {
background: #FFF;
}

/*light-gray minus & plus */
.minus-icon, .plus-icon{ background-color: #c5c5c5; border-bottom-color:#999999; border-top-color:#e6e6e6;}
.minus-icon {  background-position: -399px -38px;}
.minus-icon:active, .minus-icon:focus, .plus-icon:active, .plus-icon:focus{ background-color: #b3b3b3;}
.plus-icon {  background-position: -399px -8px;}

/*bet-slip bet-area*/
.divider { border-color:#dddddd!important;}
.receipt-footer .divider { border-color:#cacaca!important;}

.bottom-word { 
color: #333333;
    background: #FFFFFF;
}

/*keyboard*/
.keyboard { background-color: #e4e4e4;}

/*bet-receipt*/
.receipt-box, .pop-up .receipt-footer, .receipt-footer .bottom-word { background: #e0e0e0!important}
.receipt-header .status {
background: #f5f5f5;
border-color: #bababa;
}
.withdrawal .receipt-header .status {border-color: #7a1215!important}

/*pop-up*/
.pop-close{ background-position:-205px 0px;}

/*receipt*/
.pop-up .receipt-head .icon-receipt{ background-position:-234px top;}
.change-icon{ background: url("../../images/uni_icon_001.png?20150807001") no-repeat -39px -27px; background-size:auto 125px;}
.receipt-header:before, .row-wrap .active:before  ,.row-wrap .cell-active:before ,.row-wrap .active-gray:before{ background-position:-208px -69px}
.withdrawal .receipt-header:before { background-position: -208px -103px}
.parley-more .more { background-color: #d0d0d0;}

/*------------------------------universe color--------------------------*/

/*white word*/
.topic .game-detail .item a,
.receipt-head .icon-receipt, .parley-more .more {
color: #ffffff;	
}
/*light gray word*/
.bet-area, .keyboard li, .change-tip {color: #333333}
.keyboard li:hover{ background: #989595; color:#fff}
.betslip input[type=text] { color: #9a181b}
/*blue word*/
.bet-bottom a { color: #333333;}
/*yellow word*/
.parley { /*color: #F1BA00*/}

/*background*/
.dark-bg { background: #323232;}

/*pop-header*/
.pop-up .pop-header, .withdrawal .receipt-header, .nav-count .number {
border-bottom:2px solid #7a1215;
color: #fff;
background: #98171a;
}
.withdrawal .receipt-header { border-bottom: none}

/*bet-slip*/
.bet-form { color: #d8d8d8;}
.bet-area a { color: #d8d8d8;}
.betsheet_count{ background:#901416; border-color:#8d1114; color:#FFFFFF;}
/*red button*/
a.submit {
color: #ffffff;
background: #bf2727; /* Old browsers */
background: -moz-linear-gradient(top, #bf2727 0%, #ba2426 50%, #b72124 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bf2727), color-stop(50%,#ba2426), color-stop(100%,#b72124)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bf2727 0%,#ba2426 50%,#b72124 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bf2727 0%,#ba2426 50%,#b72124 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bf2727 0%,#ba2426 50%,#b72124 100%); /* IE10+ */
background: linear-gradient(to bottom, #bf2727 0%,#ba2426 50%,#b72124 100%); /* W3C */
}
a.submit:active, a.submit:focus {
background: #b72124; /* Old browsers */
background: -moz-linear-gradient(top, #b72124 0%, #ba2426 50%, #bf2727 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b72124), color-stop(50%,#ba2426), color-stop(100%,#bf2727)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #b72124 0%,#ba2426 50%,#bf2727 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #b72124 0%,#ba2426 50%,#bf2727 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #b72124 0%,#ba2426 50%,#bf2727 100%); /* IE10+ */
background: linear-gradient(to bottom, #b72124 0%,#ba2426 50%,#bf2727 100%); /* W3C */
}

/*gray button*/
.footer a.top,
a.normal, a.accept {
color: #FFFFFF;
background: #5b5b5b; /* Old browsers */
background: -moz-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#4f4f4f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%); /* IE10+ */
background: linear-gradient(to bottom, #5b5b5b 0%,#4f4f4f 100%); /* W3C */
}
.footer a.top:active,
.footer a.top:focus {
color: #cacaca;
background: #4f4f4f; /* Old browsers */
background: -moz-linear-gradient(top, #4f4f4f 0%, #5b5b5b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(100%,#5b5b5b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #4f4f4f 0%,#5b5b5b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #4f4f4f 0%,#5b5b5b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #4f4f4f 0%,#5b5b5b 100%); /* IE10+ */
background: linear-gradient(to bottom, #4f4f4f 0%,#5b5b5b 100%); /* W3C */
}

/*blue button*/
.bet-area button {
border-color: black;
color: white;
background: -moz-linear-gradient(top, #008ee4 0%, #0069aa 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008ee4), color-stop(100%,#0069aa));
background: -webkit-linear-gradient(top, #008ee4 0%,#0069aa 100%);
background: -o-linear-gradient(top, #008ee4 0%,#0069aa 100%);
background: -ms-linear-gradient(top, #008ee4 0%,#0069aa 100%);
background: linear-gradient(to bottom, #008ee4 0%,#0069aa 100%);
}
.bet-area button:active,
.bet-area button:focus {
color: #0a3d5d;
background: #0069aa;
}

a.del-all { color: #9c9c9c;}
a.highest:active, a.del-all:active { color: #ffffff;}

/*topic*/
.topic .title span, a.league-menu-bottom-btn { 
background-color: #cccccc;
color: #FFFFFF;
}
.league-menu-bottom-btn:active{ color:#ffffff;}
.topic .item-last{ border-color: #d6d6d6;}

/*pop-up*/
.pop-up a.betslip-close{ background-position: -208px -35px; background-color:#FFFFFF;}

/*footer*/
.footer-company { background:#202224}

/*search*/
.slide-bottom { 
/*border-bottom: 2px solid #212121;*/
/*box-shadow: 0 0 30px 0 rgba(0,0,0,.7)*/
}
.slide-bottom .title { color: white; background: #98171a}
.slide-bottom .title .icon-title { background-position: -84px top}

.slide-bottom .content .day-inner { background: #F5F5F5;}
.slide-bottom .content .day-inner header { border-color: #EAEAEA}
.calendar-wrap input[type=text].calendar { background: url(../../images/uni_calendar_001.png) right center no-repeat; background-size: auto 44px}
/*.calendar-wrap input[type=text].calendar:focus { background: #F4F4F4 url(../../../images/calendar.png) right no-repeat;}*/

.footer-search { background: #e8e8e8;}
.footer-search a.submit .icon { background-position: -135px top}
.footer-search a.submit, .footer-search a.top, .slide-bottom .bet-btn-wrap.w49 a, .row-wrap .bet-btn-wrap.w49 a {
color: #fff;
background-color: #cccccc;
}
.slide-bottom .bet-btn-wrap.w49 a, .row-wrap .bet-btn-wrap.w49 a { 
background: #5b5b5b;
background: -moz-linear-gradient(top, #5b5b5b 0%, #4f4f4f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b5b5b), color-stop(100%,#4f4f4f));
background: -webkit-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%);
background: -o-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%);
background: -ms-linear-gradient(top, #5b5b5b 0%,#4f4f4f 100%);
background: linear-gradient(to bottom, #5b5b5b 0%,#4f4f4f 100%);
}

/*common class*/
.nav2, .nav1 a.nav-title h2,.leftmenu a , .menu-toggle, .menu-toggle a,
.carousel-wrap .tab li.active a, .carousel-wrap .tab li a:active, 
.combo-number-wrap .word, .slide-bottom ,.category-wrap header h1, .topic .title2, .receipt-box,.header-date h2.one{ color: #666;}
 .receipt-header .status {color: #98171A}
.list-wrap-date .active a{color: #BC433B;}
.lottery_bar{ color: #fff;}
.carousel-wrap .tab li.active a { background-color: #eee;}
.leftmenu .count{color: #666;}
.input { color: #A9A9A9}
.red, .redtxt, .txt-red, .betslip .input:active,.redtxt .highlight{ color:#CC4D48 !important;}
.highlight, .list-wrap a.click-odds del { color: #666}
.nav2, .bet-area .alert-wrap, .receipt-box .receipt,
.pre-match-wrap, .pre-match-wrap-h, .list-wrap, .table-wrap,
.menu-toggle, .combo-nav li, .combo-number-wrap, ul.combo-nav li, .keno-number-wrap,
input[type=text], .input, .keyboard li, .slide-bottom, .pop-up, .pop-up .pop-footer { 
background: #FFFFFF;
}
.pop-up a.betslip-close{ background-position: -207px -35px; background-color:#FFFFFF;}
input.betslip-check[type="checkbox"] {
background-position: -233px -10px;
background-color:#FFFFFF;
}
input.betslip-check[type="checkbox"]:checked { background-position: -233px -35px;}

.row-wrap{border-top:1px solid #E5E5E5}
.row-wrap:active{ background:#ebebeb; border-color: #fff}
.menu-toggle li.menu-title ul.three-columns li.item .column-item, 
.menu-toggle, .menu-toggle li a.title, .menu-toggle li li.item,
.lotto-toggle .lotto-number, .lotto-toggle2 .title-small, 
ul.combo-nav li a.combo-open, ul.combo-nav li ul.combo-ul, .keno-number-wrap li,
.receipt-header, .receipt.parley .bet-header, .combo-number-wrap { 
border-color: #d2d2d2!important
}
.lotto-number li, .lotto-number > *.point, .lotto-number a, .small-wrap .type { 
color: #ffffff!important
}
span.connect { background:#cc4d48; color:#fff;}

/*LOTTERY GAMES*/
/*combo*/
.dropdown-icon { background-position: -393px 14px;}
ul.combo-nav li ul.combo-ul li a{ background:#f5f5f5;}
ul.combo-nav li ul.combo-ul li a:hover, ul.combo-nav li ul.combo-ul li a:active{ background:#eeeeee;}
.lotto-number-combo li .del { 
background: #FFFFFF;
background-image: url("../../images/uni_icon_001.png?20150807001");
background-position:-211px -38px;
background-repeat:no-repeat;
background-size:auto 125px; 
border-color:#cccccc !important;
}
ul.combo-nav li a.combo-open{ 
border-top-color:#cccccc; border-right-color:#cccccc; border-left-color:#cccccc;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 51%, #efefef 98%, #d2d2d2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(51%,#ffffff), color-stop(98%,#efefef), color-stop(100%,#d2d2d2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 98%,#d2d2d2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 98%,#d2d2d2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 51%,#efefef 98%,#d2d2d2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 51%,#efefef 98%,#d2d2d2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2',GradientType=0 ); /* IE6-9 */
}

/* gameresult */
.lotto-number-wrap ul.active li:first-child:before { 
background: url(../../../images/icon.png) -40px bottom no-repeat;
}
.lotto-number-tiny li, .small-wrap .type {
background: #47A9F4;
box-shadow: 0 3px 0 0 #2A82C9;
}

/* rules */
.rules_arrow {
background: url(../../../images/Keno/001/dropdown_arrow.png) no-repeat;
}
#rules_menu:hover .rules_arrow {
background-position: 0 -14px;
}
.pop_close {
background-position: -50px 0;
}
#rules_menu > li {
background: #efefef;
}
#rules_menu > li ul li {
border-color: #fff;
background: #efefef;
}
#rules_menu > li ul li:hover {
background: #ccc;
}
.rules_text {
border-color: #e9e9e9;
}
ul.rules_list b {
border-color: #ddd;
background: #efefef;
}
ul.rules_list > li {
border-color: #e9e9e9;
}
ul.rules_list > li > h3 {
color: #98171a;
}
ul.rules_list > li > ul > li > ul > li {
list-style-image: url(../../../images/Keno/001/icon_list.png);
}
.rules_tb {
color: #555;
}
.rules_tb th {
background: #efefef;
color: #98171a;
}
.rules_tb th, .rules_tb td {
border-color: #811315;
}
.rules_tb td {
background: #fff;
}

/*------------------------------mediaqueries--------------------------*/
@media only screen and (max-device-width : 359px) {

.nav1 a.nav-title:after { background-size:auto 123px;}

}
.block_stop{
background: #fff;
}
.block_stop h1{
color: #333;
}
/*------------------------------universe color END--------------------------*/