@charset "utf-8";

b { font-weight: normal;}

/* nav */
.nav1.inplay a.nav-title { position: relative;}
.nav2-betslip { padding: 0 12px; text-align: center;}
.nav2-betslip .btn-nav { right: 12px;}
.nav2-betslip .btn-back { left: 12px;}
.nav3 .nav2-title { margin: 0 94px;}
.game-inplay .topic:last-of-type { margin-bottom: 0;}

/*bet-slip*/
.alert-wrap .w70 .gametype, .alert-wrap .w100 .gametype { max-width: 87%}
.bet-area .w100 .teamname { max-width: 100%}
.alert-wrap .w70 .txt-light, .alert-wrap .w100 .txt-light { max-width: 26%}

.square {
width: 6px;
height: 6px;
margin-right: 7px;
margin-top: 5px;
}

/*table use div*/
.category-wrap header, .title2 { margin: 0 0 2px; position: relative;}
.category-wrap header h1, .title2 span {
margin-left: 30px;
line-height: 22px;
display: block;
font-weight: bold;
} 
.row-wrap{
position: relative;
padding: 3px 0;
}
.category-wrap .table-wrap:last-child{ border-bottom:2px solid;}
.category-icon ,.title2 dd {
    position: absolute;
    top: 50%;
    margin: -8px 0 0;
    border-radius: 4px;
    text-align: center;
    padding: 2px 4px;
    font-size: 0.8em;
    line-height: 12px;
	height: 13px;
}

.td4-1{
width: 75px;
line-height: 41px;
text-indent: 8px;
} 
.td4-1 ,.td4-4, .td3-3, .td2-2 {text-align: center;}
.td3-1 div, .td2-1 div, .td4-2 div, .grades li { line-height: 1; margin: 1px 0;}
.td4-2 span, .td3-1 span, .td2-1 span {
display: inline-block;
max-width: 100%;
vertical-align: middle;
line-height: 20px;
}
ul.grades li, .td2-1 div { line-height: 22px;height: 20px;}

.td4-2{ width: 60%; text-align: left; text-indent: 0;}
.td4-3{ text-align:right;}
.td4-4, .td3-3, .td2-2{ width:30px; line-height:62px} 
.td3-1{ width: 59%;}
.td3-1 .dot-on span, .td3-1 .dot-off span { text-indent:25px;}
.td3-2{text-align: right; margin-right: 10px;}
.td2-1{width: 85%;}
.td4-2 span, .td2-1 div { margin-left: 8px;}
.td2-1 span { max-width: 45%}
.bg-00001 .td4-2 { width: 58%;}
.bg-00001 .td4-2 span { max-width: 77%}
.bg-00002 .td4-2, .bg-00004 .td4-2 { width: 55%;}
.bg-00005 .td3-1, .bg-00023 .td3-1 { width: 49%;}
.bg-00034 .td3-1, .bg-00031 .td3-1 { width: 62%;}
ul.grades{ width:16px;}
.bg-00002 ul.grades, .bg-00005 ul.grades, .bg-00031 ul.grades, .bg-00023 ul.grades, .bg-00034 ul.grades { width:25px;}
.bg-league { line-height:46px; }
.bg-league .td3-1 { text-indent:25px; }
/****temporary****/
.bg-00020 .td4-2 { max-width: 19%;}
.bg-00020 ul.grades{ width: 24px;}
.bg-00016 .td4-2 { max-width: 35%}
/****temporary END****/

.td4-2 .redcard {
margin: 0 3px;
font-weight: normal;
width: 14px;
text-align: center;
line-height: 16px;
height: 16px;
/*position: relative;
z-index: 0;*/
}
/*.td4-2 .redcard:after { width: 14px; height: 16px; display: block; content: ""; position: absolute; top: 0; z-index: -1;}*/

/*game-detail*/
.game-detail li li.item { padding: 0;}
.game-detail li li.item > * { padding: 12px 10px;}

/*Market*/
.pre-match-wrap, .pre-match-wrap-h, .prematch, .live-wrap { overflow: hidden}
.pre-match-wrap .small-word,.pre-match-wrap-h .small-word { line-height: 21px}
.prematch .title-wrap{ padding: 0; border: 1px solid;}
.no-title .title-wrap{ padding: 7px 0;}

.td4-2 span, .td3-1 span, .td2-1 span, .pre-match .small-word, .pre-match-wrap .small-word, .pre-match-wrap-h .small-word, .pre-match-wrap li div, .pre-match-wrap-h li div, .pre-match-wrap ul li .click, .pre-match-wrap-h ul li .click, .pre-match-wrap .word, .pre-match-wrap-h .word, .header-date .one, .list-wrap .title-wrap li, .list-wrap .team-wrap div, .click-odds .word, .team-name-wrap .team-info h3, .team-name-wrap .team-info .game, .live-point ul li, .live-point ul li div, .list-title div{ 
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.pre-match-wrap .click,
.pre-match-wrap-h .click,
.pre-match-wrap .small-word,
.pre-match-wrap-h .small-word {
text-align: center
}
.pre-match-wrap.style2 .click .word, 
.pre-match-wrap.style3 .click .word, 
.pre-match-wrap.style4 .click .word, 
.pre-match-wrap.style5 .click .word {
float: left;
}
.pre-match-wrap.style2 .click del, 
.pre-match-wrap.style3 .click del, 
.pre-match-wrap.style4 .click del, 
.pre-match-wrap.style5 .click del, 
.pre-match-wrap-h.style1 .click del, 
.pre-match-wrap-h.style5 .click del {
float: left
}
.pre-match-wrap .square,
.pre-match-wrap-h .square {
width: 7px;
height: 7px;
margin-right: 5px;
margin-top: 20px;
display: none
}
.pre-match-wrap ul.one { width: 22%;}
.mid-wrap div{color:#fff;}
.mid-wrap li{color:#eee;}
.pre-match-wrap .word,
.pre-match-wrap-h .word { 
display: inline-block;
text-rendering: auto;
max-width: 63%;
margin-right: 10px;color:#4a4a4a;
float: left;
}
.pre-match-wrap.percentage50 .word, 
.pre-match-wrap-h.percentage50 .word {
max-width: 70%;}

.pre-match-wrap.style2 .three-column .word { max-width: 77%;}
.pre-match-wrap.style2 .four-column .word { max-width: 71%;}

/*because name-repeatly, actually is two column in visual*/
.pre-match-wrap.style2 .two-column ul { width: 78%}
.pre-match-wrap.style2 .two-column li { width: 50%}
.pre-match-wrap.style3 .two-column li { width: 100%;}
.pre-match-wrap.style4 .two-column li { float: left;}

.pre-match-wrap.style3 .three-column ul { width: 33.333333%;}
.pre-match-wrap.style3 .three-column li .word, 
.pre-match-wrap-h.style3 .three-column li .word, 
.pre-match-wrap-h.style4 .three-column li .word {
max-width: 78%;}	
.pre-match-wrap-h.style2 .two-column ul li { width: 50%;}
.pre-match-wrap-h.style1 .two-column li { float: left; }

.pre-match-wrap.style5 .two-column {
width: 100%;
float: none;
margin-left: auto;
margin-right: auto;
}
.pre-match-wrap.style5 .two-column ul { 
float: left; 
margin-left: 0 !important; 
margin-right: 0 !important; 
width: 100%;
}
.pre-match-wrap.style5 .two-column li {
width: 50%;	
float: left;
}
.pre-match-wrap.style5 .inside-one-column li { width: 100%; }
.pre-match-wrap.style5 .inside-one-column span{ margin-right: 1%;}
.pre-match-wrap .word, .pre-match-wrap.style5 .inside-one-column li .word, .pre-match-wrap.style5 .inside-one-column li del { float: none}
.pre-match-wrap .one-column .word, .pre-match-wrap .one-column del { float: left}
.pre-match-wrap .one-column .word, .inside-one-column .word { max-width: 85%}

.pre-match-wrap, .pre-match-wrap-h {
word-wrap: break-word;
_display: inline;
_overflow: hidden;
_overflow-y: visible;
width: 100%;
text-align: left;
}

.pre-match-wrap ul.one, .pre-match-wrap-h.style5 .two-column ul li:first-child {
width: 60%;
float: left;
margin-left: 0%;  
margin-right: -60%;
}
.pre-match-wrap .two-column,
.pre-match-wrap .three-column,
.pre-match-wrap-h.style5 .two-column ul li {
width: 40%;
float: right;
margin-left: -60%; 
margin-right: 0;	
word-wrap: break-word;
_display: inline;
_overflow: hidden;
_overflow-y: visible;
}

.pre-match-wrap:before, 
.pre-match-wrap:after,
.pre-match-wrap .two-column:before,
.pre-match-wrap .two-column:after,
.pre-match-wrap .three-column:before,
.pre-match-wrap .three-column:after {
content: "";  
display: table;
}
.pre-match-wrap:after,
.pre-match-wrap .two-column:after,
.pre-match-wrap .three-column:after {
clear: both;
}

.pre-match-wrap .two-column ul,
.pre-match-wrap .three-column ul { 
word-wrap: break-word;
_display: inline;
_overflow: hidden;
_overflow-y: visible;
margin-right: -100%;
float: right;
}

.pre-match-wrap .two-column ul:first-child {
margin-left: -100%;
margin-right: 0;
width: 100%;
}
.pre-match-wrap .three-column ul:first-child {
margin-left: -100%;
margin-right: 50%;
width: 50%;
}
.pre-match-wrap .three-column ul:nth-child(2) {
margin-left: 50%;
margin-right: 0;
width: 50%;

}

/*style*/
.pre-match-wrap.style4 .two-column,
.pre-match-wrap.style3 .two-column,
.pre-match-wrap.style2 .two-column,
.pre-match-wrap.style3 .three-column {
width: 100%;
float: none;
margin-left: auto;
margin-right: auto;
}

.pre-match-wrap.style4 .two-column li {
width: 50%;	
}
/*3-with vertical ul*/
.pre-match-wrap.style3 .two-column ul:first-child {
margin-left: -100%;
margin-right: 50%;
width: 50%;
}
.pre-match-wrap.style3 .two-column ul:nth-child(2) {
margin-left: 50%;
margin-right: 0;
width: 50%;
}
/*3-with horizontal ul*/
.pre-match-wrap.style2 .two-column ul {
margin: 0;
width: 100%
}
.pre-match-wrap.style2 .two-column ul li:first-of-type {float: left;}
.pre-match-wrap.style2 .two-column ul li:last-of-type {float: right;}
.pre-match-wrap.style2 .two-column .word { max-width: 64%}

.pre-match-wrap.style3 .three-column ul:first-child {
margin-left: -100%;
margin-right: 66.66666%;
width: 33.33333%;
}
.pre-match-wrap.style3 .three-column ul:nth-child(2) {
margin-left: -66.66666%; 
margin-right: 33.33333%;
width: 33.33333%;
}
.pre-match-wrap.style3 .three-column ul:nth-child(3) {
margin-left: -33.33333%; 
margin-right: 0; 
width: 33.33333%;
}

.pre-match-wrap.style2 li.small-word {
padding-right: 13px!important;
}


/*pre-match-wrap-h*/
.pre-match-wrap-h .one-column ul,
.pre-match-wrap-h .two-column ul,
.pre-match-wrap-h .three-column ul li:first-child {
word-wrap: break-word;
_display: inline;
_overflow: hidden;
_overflow-y: visible;
}
.pre-match-wrap-h:before, 
.pre-match-wrap-h:after,
.pre-match-wrap-h .one-column ul:before,
.pre-match-wrap-h .one-column ul:after,
.pre-match-wrap-h .two-column ul:before,
.pre-match-wrap-h .two-column ul:after,
.pre-match-wrap-h .three-column ul:before,
.pre-match-wrap-h .three-column ul:after,
.select-wrap:after, .game-status:after {
content: "";  
display: table;
}
.pre-match-wrap-h:after,
.pre-match-wrap-h .one-column ul:after,
.pre-match-wrap-h .two-column ul:after,
.pre-match-wrap-h .three-column ul:after,
.select-wrap:after, .game-status:after {
clear: both;
}
.pre-match-wrap-h .one-column ul li,
.pre-match-wrap-h .two-column ul li,
.pre-match-wrap-h .three-column ul li { 
word-wrap: break-word;
_display: inline;
_overflow: hidden;
_overflow-y: visible;
float: right;
}

.pre-match-wrap-h.style1 .two-column ul li:first-child ,.pre-match-wrap-h.style1 .two-column ul li{
width: 50%;
}
.pre-match-wrap-h.style1 .two-column ul li:nth-child(2){
margin-right: 0;
width: 50%;
}
.pre-match-wrap-h .three-column ul li:nth-child(2) ,.pre-match-wrap-h .three-column ul li{
width: 33.333%;
float: left;
}
.pre-match-wrap-h.style6 .three-column ul li{
width: 25%;
float: left;
}
.pre-match-wrap-h.style6 .three-column ul li:nth-child(1) { width: 50%}
.pre-match-wrap-h.style6 .three-column .inside-one-column li:nth-child(2) { width: 50%}
.pre-match-wrap-h .three-column .inside-one-column li:nth-child(2) { width: 66.667%}
.pre-match-wrap-h .three-column .small-word { text-align: center}

.pre-match-wrap-h.style5 .word { max-width: 60%}

.select-wrap {
margin: 10px 0;
text-align: center;
width: 800px;
position: relative;
padding-left: 7px;
}
.select-wrap li {
/* width: 10%; */
margin: 0 1%;
display: inline-block;
float: left;
margin: 0 3px;
/* padding: 0 10px; */
}
.select-wrap a { padding: 6px 10px; display: block; border-radius: 4px; border: 1px solid;}
.select-wrap .active a { border-radius: 4px; border: 1px solid;}

.game-status {
text-align: left;
padding: 2px 10px;
border-bottom: 1px solid;
}
.game-status > * {
line-height: 20px;
height: 17px;
display: block;
float: left;
overflow: hidden;
}
.game-status time {margin-right: 5px;margin: 0 5px 0 5px;}
.game-status .game { display: inline-block; position: relative; padding-left:5px; line-height: 19px;}
.icon-game { display: none}
.game-status .icon-live, .game-status .icon-n { border-radius: 3px;}
.game-status .icon-n {
display: block;
height: 13px;
line-height: 13px;
padding: 0 4px;
margin: 2px 0 0;
/* position: absolute; */
/* left: 10px; */
/* top: 3px; */
float: left;
}
.game-status .game:before { 
display: inline-block;
width: 11px;
height: 17px;
margin-top: -3px;
margin-bottom: -2px;
content: "";
position: absolute;
left: 0;
top: 3px;
display:none;
}

/*list-wrap*/
.list-wrap h1, 
.header-date h2 { 
margin: 0; 
font-size: inherit; 
font-weight: normal; 
line-height: normal;
}
.list-wrap ul,
.list-wrap ul li,
.list-wrap .title-wrap > *,
.list-wrap .content-wrap > *,
.list-wrap .team-wrap {
float: left;
}
.list-wrap .time-wrap .wrap {
width: 100%;
white-space: nowrap;
text-align: left;
padding-right: 2px;
padding-top: 8px;
}
.list-wrap .title-wrap .one,
.list-wrap .time-wrap,
.list-wrap .team-wrap div,
.list-wrap .last {
text-align: left;
}
.list-wrap .time-wrap {
text-align: center;
position: relative;
width: 58px;
float: right;
}
.list-wrap .team-wrap div { padding-left: 10px;}
.list-wrap .title-wrap .two li, 
.list-wrap a.click-odds, 
.list-wrap.three-column.style1 .content-wrap .one div,
.list-wrap.four-column.style2 .content-wrap li div { 
text-align: center}
.list-wrap .title-wrap .two li {}
.list-wrap.three-column.style2 .title-wrap .two li { letter-spacing: -0.5px;}
.header-date h2.one {
width: 100%!important;
text-align: left;
font-size: 14px;
}
.list-wrap .title-wrap > * { padding: 1px 0; display: block}
.list-wrap .btn-like { border-radius: 3px;}
.list-wrap.three-column.outright .title-wrap { padding:0 10px; position: relative}
.list-wrap .list-title > *, .list-wrap.three-column.outright .title-wrap > * { padding: 0}
.list-title{ position: relative}
.list-title div, .list-wrap.three-column.outright .title-wrap > * { line-height: 26px}
.list-title div {
float: left;
width: 100%;
padding-left: 5px;
}
.list-wrap .list-title .more { 
display: block;
position: absolute;
width: 50px;
text-align: right;
right: 0;
top: 24px;
line-height: 1;
}
.list-wrap .list-title .fa-angle-right {
float: right;
width: 10px;
height: 19px;
margin-right: 5px;
}

.list-wrap .team-wrap div,.list-wrap .last div { float: none;}

.list-wrap .click-wrap {
margin-top: 3px;
float: left;
width: 100%;
}

.list-wrap .content-wrap .more {
padding: 0 3px 0 0;
text-align: right;
}
.list-wrap .content-wrap .more span {
display: block;
float: right;
line-height: 20px;
width: 100%;
height: 20px;
padding-right: 14px;
position: relative;
}
.list-wrap .content-wrap .more span:after { width: 20px; height: 20px; position: absolute; right:-7px; content: ""}
.list-wrap .content-wrap .more .fa-angle-right {display: none}
/*.list-wrap .content-wrap .more .fa-angle-right { 
float: right;
width: 16px;
height: 20px;
margin-left: 10px;
position: relative;
top: -2px;
}
.list-wrap .more .fa-angle-right:before { content: none}*/

.click-odds,
.list-wrap .team-wrap div { 
display: block;
}
.list-wrap .team-wrap div {
margin-top: 0;
font-weight: bold;
line-height: 18px;
}

.click-wrap .hl-txt { padding-right:20px;color:#666;font-size:18px; }
.click-wrap .redtxt { padding-right:10px;font-size:18px; }
.sys-template .hl-bg { background:#fafafa; }

/*has .word*/
.list-wrap.three-column del, .list-wrap.three-column.style1 .content-wrap .one div, .list-wrap.two-column del, .list-wrap.four-column.style2 .content-wrap li div, .list-wrap.four-column.style2 .content-wrap li a.click-odds {
line-height: 48px;
}
.list-wrap.three-column.style3 a.click-odds, 
.list-wrap.three-column.style4 a.click-odds, 
.list-wrap.four-column a.click-odds,
.list-wrap.two-column.style2 a.click-odds,
.list-wrap.three-column.style6 a.click-odds { 
padding: 4px 2px
}
.list-wrap.three-column.style3 del, .list-wrap.three-column.style3 .word,
.list-wrap.three-column.style4 del, .list-wrap.three-column.style4 .word,
.list-wrap.four-column del, .list-wrap.four-column .word,
.list-wrap.two-column.style2 del, .list-wrap.two-column.style2 .word ,
.list-wrap.three-column.style6 .word, .list-wrap.three-column.style6 del{
width: 100%;
height: 20px;
line-height: 20px;
display: block;
max-width: 100% !important;
text-align: center;
}
.list-wrap.three-column.outright a.click-odds > *, .list-wrap.one-column.style1 .list-wrap-dropdown a.click-odds .word { 
float: left; 
margin-right: .5em; 
}
.list-wrap.three-column.outright a.click-odds del { margin-right: 0; padding: 0;}
.list-wrap.one-column.style1 a.click-odds > * {float: left; max-width: 100%}
.list-wrap.one-column.style1 .list-wrap-dropdown a.click-odds .word { max-width: 96%; margin-right: 0}
.list-wrap .icon-live, .list-wrap .icon{float:right; margin:0 3px 0 0;line-height: 12px;}
.list-wrap .icon { display: none}
.list-wrap .time-wrap .time{ display: inline-block; line-height: 12px; height: 12px; float: right}
.word{
max-width: 67%;
text-align: left;
}
.row-wrap .icon-n, .row-wrap .icon ,.list-wrap .icon-n {
width: 12px;
height:12px;
position: absolute;
top: 50%;
margin: -6px 0 0 -7px;
text-align: center;	
}
.row-wrap .icon-n, .row-wrap .icon{ 
margin: -6px 0 0;
left: -7px;
line-height: 12px;
font-weight: normal;
}
.icon-n, .row-wrap .icon { border-radius: 14px;}
.list-wrap .last { width: 5%;}
.list-wrap ul { width: 100%;}
.list-title time {
padding: 1px 6px!important;
margin-right: 3px;
position: relative;
top:0;
float: left;
width: 100%;
line-height: 16px;
}



/*three-column*/
.list-wrap.three-column ul li, .list-wrap.one-column.style1 .title-wrap li { width: 33.33333%;}
/*three-column.style2*/
.list-wrap.three-column.style2 .one, .list-wrap.two-column .one { width: 52%;}
.list-wrap.three-column.style2 .two, .list-wrap.two-column .two { width: 48%;}
.list-wrap.three-column.style2 .team-wrap, .list-wrap.two-column .team-wrap { width: 52%; padding: 6px 0 6px 0; position: relative;}
/*three-column.style3+4+5*/
.list-wrap.three-column.style3 .title-wrap .one, .list-wrap.three-column.style4 .title-wrap .one, 
.list-wrap.three-column.style5 .title-wrap .one, .list-wrap.one-column.style1 .title-wrap .one ,
.list-wrap.three-column.style6 .title-wrap .one{ 
width: 100%}
.list-wrap.three-column.style4 .title-wrap .one ,
.list-wrap.three-column.style6 .title-wrap .one{
margin: 0;    
font-size: 1em;
font-weight: normal;
}
.list-wrap.three-column.style4 .content-wrap ul { width: 33.33333%;}
.list-wrap.three-column.style4 .content-wrap ul li, .list-wrap.three-column.style5 .content-wrap ul li { width: 100%; float: none}

.list-wrap.three-column.style6 .content-wrap ul { width: 100%;}
.list-wrap.three-column.style6 .content-wrap ul li { width: 33.33333%;}


/*three-column.style5*/
.list-wrap.three-column.style5 .content-wrap .w1 { width: 48%;}
.list-wrap.three-column.style5 .content-wrap .w2 { width: 26%;}
.list-wrap.three-column.style5 .content-wrap .w3 { width: 26%;}
.list-wrap.three-column.style5 .content-wrap ul ul { width: 100%; float: none;}
.list-wrap.three-column.style5 .content-wrap ul li, .list-wrap.one-column.style1 .content-wrap ul li { position: relative;}
.list-wrap.three-column.style5 a.click-odds, .list-wrap.one-column.style1 a.click-odds { padding-right: 30px}
.list-wrap.three-column.style5 a.click-odds {padding-left: 0}
.list-wrap.three-column.style5 a.click-odds .word { float: left; padding-left: 16px; max-width: 100%}
.list-wrap.three-column.style5 .btn-wrap, .list-wrap.one-column.style1 .btn-wrap {
float: left;
padding: 5px;	
height: 45px;
}
.list-wrap.three-column.style5 .btn-wrap {}
.list-wrap.one-column.style1 .btn-wrap {height: 44px}
.list-wrap.three-column.style5 .btn-like, .list-wrap.one-column.style1 .btn-like {
height: auto!important;
line-height: normal!important;
padding: 0!important;
border: 1px solid;
}
.list-wrap.three-column.style5 del, .list-wrap.one-column.style1 .btn-like del {
line-height: 32px!important;
}
.list-wrap-dropdown li:hover > ul, .list-wrap-dropdown li.active > ul { display: block;}
.list-wrap-dropdown ul { 
display: none;
width: 100%;
position: absolute;
top: 100%;
left: 0;
margin-top: 1px;
z-index: 1;
border: 1px solid
}
/*one-column.style1*/
.list-wrap.one-column.style1 .content-wrap ul, .list-wrap.one-column.style1 .content-wrap ul li { float: none; width: 100%;}
.list-wrap.one-column.style1 .btn-like {
}
.list-wrap.one-column.style1 a.btn-like > * { float: none}
/*outright*/
.list-wrap.three-column.outright .content-wrap ul li { width: 50%}
.list-wrap.three-column.outright .title-wrap .one { width: 100%}
.list-wrap.three-column.outright .title-wrap li { padding:0; line-height: 21px;}
.list-wrap.outright .title-wrap time { margin-left: 10px;}

/*four-column*/
.list-wrap.four-column ul li { width: 25%;}
.list-wrap.four-column.style2 .content-wrap ul li { width: 33.33333%;}
.w33 li { width: 33.333%;}

.list-wrap.four-column .title-wrap li, .list-wrap.three-column.style3 .title-wrap li, 
.list-wrap.three-column.style4 .title-wrap li, .list-wrap.three-column.style5 .title-wrap li,
.list-wrap.one-column.style1 .title-wrap li ,
.list-wrap.three-column.style6 .title-wrap li{ 
padding: 2px 11px; line-height: 15px}

/*two-column*/
.list-wrap.two-column ul li { width: 50%;}
.list-wrap.two-column.style2 .content-wrap ul { display: table; height: 100%;max-height: 48px;}
.list-wrap.two-column.style2 .content-wrap ul li { 
display: table-cell;
float: none;
vertical-align: middle;
height: 100%;
}
.list-wrap.two-column.style2 a.click-odds {  
display: table;
width: 100%;
height: auto;
}

/*list-wrap & market border*/
.pre-match-wrap li, 
.pre-match-wrap-h ul li,
.pre-match-wrap.style5 ul li:last-child,
.pre-match-wrap-h.style4 ul li:nth-child(n),
.list-wrap.three-column.style3 .content-wrap li,
.list-wrap.three-column.style4 .content-wrap li,
.list-wrap.three-column.style5 .content-wrap li,
.list-wrap.three-column.outright .content-wrap ul li,
.list-wrap.three-column.outright .content-wrap,
.list-wrap.three-column.style3 .content-wrap,
.list-wrap.three-column.style4 .content-wrap,
.list-wrap.three-column.style5 .content-wrap,
.list-wrap.four-column.style2 .content-wrap,
.list-wrap.four-column.style2 .content-wrap ul li,
.list-wrap.one-column.style1 .list-wrap-dropdown,
.pre-match-wrap.style2 .two-column ul li:last-of-type ,
.list-wrap.three-column.style6 .content-wrap li { 
border-bottom: 1px solid;
}
.pre-match-wrap li:last-child,
.pre-match-wrap-h div > ul:last-child li,
.pre-match-wrap.style4 li:nth-last-child(2),
.pre-match-wrap.style5 ul:last-child li,
.pre-match-wrap-h.style4 ul li:nth-last-child(-n+3),
.pre-match-wrap-h.style1 ul:last-child li,
.list-wrap.three-column.style5 .content-wrap .list-wrap-dropdown > li,
.list-wrap.one-column.style1 .content-wrap .list-wrap-dropdown > li,
.pre-match-wrap.style2 .two-column ul:last-of-type li { 
border-bottom: none;
}
.pre-match-wrap li.small-word, 
.pre-match-wrap-h ul li.small-word {
border-bottom: none!important
}

.pre-match-wrap li,
.pre-match-wrap-h li,
.pre-match-wrap.style2 ul.one li,
.pre-match-wrap.style4 .two-column .click-wrap,
.pre-match-wrap.style2 .two-column ul:last-child li { 
border-right: 1px solid;
}
.pre-match-wrap .small-word,
.pre-match-wrap-h .small-word,
.pre-match-wrap ul:last-child li,
.pre-match-wrap-h li:last-child,
.pre-match-wrap.style4 .two-column li:nth-of-type(2n) .click-wrap,
.pre-match-wrap.style5 li:last-child,
.pre-match-wrap-h.style4 .three-column li:nth-child(3n),
.pre-match-wrap.style2 .two-column ul li:last-of-type {
border-right: none;
}
.list-wrap.three-column .content-wrap ul li,
.list-wrap.four-column .content-wrap ul li,
.list-wrap.two-column .content-wrap ul li {
border-right: 1px solid;
}
.list-wrap.three-column.style3 .content-wrap ul li:nth-child(3n),
.list-wrap.four-column.style2 .content-wrap ul li:nth-child(3n),
.list-wrap.three-column.style5 .content-wrap ul li ul li {
border-right: none;
}
.list-wrap.three-column.style2 div.one,
.list-wrap.two-column div.one {
  border-right: 1px solid;
}

/*prematch-menu*/
.prematch-menu { border-bottom: 1px solid;}
.prematch-menu li { float: left; border-bottom: 4px solid;}
.prematch-menu li:first-child a { border-left: none}
.prematch-menu.two-column li { width: 50%;}
.prematch-menu.three-column li { width: 33%;}
.prematch-menu.three-column li a { white-space: nowrap; letter-spacing: -.075em;}
.prematch-menu.three-column li:last-child { width: 34%; border-right: 0;}
.prematch-menu a {
padding: 7px 0;
height: 38px;
line-height: 25px;
text-align: center;
display: block;
position: relative;
border-left: 1px solid;
}
.prematch-menu .arrow{
position: absolute;
width: 16px;
height: 10px;
margin-left: -8px;
bottom: -9px;
left: 50%;
display: none;
}

/*list-wrap , pre-match-wrap*/
.list-wrap, .pre-match-wrap, .pre-match-wrap-h{ margin: 0 0 8px 0;}
.topic .list-wrap:first-child, .topic .pre-match-wrap:first-child, .topic .pre-match-wrap-h:first-child {}
.list-wrap .title-wrap li { text-align: center}

/*Market*/
.no-score .live-main-wrap { padding-top: 32px;}
.no-score .live-point { display: none;}

.icon-live-1, .icon-live-2, .icon-live-3, .icon-live-6 { 
width: 13px !important;
height: 13px;
margin: 0 auto;
padding: 0 !important;
display: inline-block;
position: relative;
top: 2px;
}
.icon-live-6 {
height: 14px;
width: 14px !important;
position: static;
}
/*nogame*/
.newadd-box h1{
padding: 10px;
text-align: center;
font-size: 13px;
letter-spacing: 1px;
}

.live-main-wrap .gamename { display: inline-block; margin: 8px auto 0; padding: 3px 10px}
.live-main-wrap .gamename > * { height: 14px; line-height: 14px; display: inline-block; vertical-align: middle;}
.gamename .icon-live-6 {float: left}
.gamename .time {float: right}

/*score-wrap*/
.live-score {
width: 200px;
height: 40px;
line-height: 40px;
margin: 0 auto;
position: relative;
}
.score {
font-weight: 600;
width: 80px;
height: 40px;
color:#990000;
line-height: 44px;
}
.score-mid {
margin: 1px auto;
width: 40px;
height: 38px;
line-height: 32px;
position: absolute;
left: 50%;
margin-left: -20px;
}
.score-mid .icon-live {
position: absolute;
width: 36px;
line-height: initial;
bottom: 1px;
left: 2px;
}
.team-logo {
width: 48px;
height: 48px;
position: absolute;
border-radius: 50%;
overflow: hidden;
border: 3px solid;
padding: 3px;
margin-top: -4px;
display: none
}
.team-logo img {
width: 52px;    
height: 52px;
max-width: initial;
max-height: initial;
margin: -6px 0 0 -8px;
border-radius: 50%;
}
.team-logo-left {left: 9%}
.team-logo-right {right: 9%}

/*------------live-point------------*/
.live-point { width: 100%;}
.live-point ul { float: left; width: 13%;}
.live-point ul li { 
text-align: center; 
font-weight: bold; 
line-height: 18px;
height: 18px;
}
.live-point ul.one li { border-right: 1px solid}
.live-point ul.one li:first-child { border-right: none}
.live-point .square {
width: 7px!important;
height: 7px!important;
float: none; 
display: inline-block;
margin-right: 5px;
margin-top: 4px;
display: none
}
.live-point ul li:first-child { line-height: 24px; height: 20px;}
.live-point ul li:first-child, .live-point ul.one, .live-point ul.one li { font-weight: normal;}
.live-point span.time, .live-point time { font-weight: bold;}
.live-point ul.one li { text-align: right; padding: 0 8px;}
.live-point ul.one li:nth-child(2), .live-point ul.one li:nth-child(3) { /* line-height: 23px; */}

.mid-wrap { width: 76%;}

/*animate bg*/
.live-wrap, .no-score { 
height: 174px;
width: 100%;
}
.stage {
width: 100%;
height: 174px;
margin: 0 auto;
overflow: hidden;
position: relative;
}
.stage .dot-on, .stage .dot-off { position: relative; display: inline-block; float: none; width: 10px; height: 10px;}
.live-main-wrap {
width: 100%;
height: 152px;
text-align: center;
padding-top: 14px;
}
/*no scoreboard and time*/
.bg-00022 .live-main-wrap, .bg-00019 .live-main-wrap { padding-top: 44px;}

/*new live point with animate bg*/
.live-wrap .live-point { 
position: absolute;
bottom: 0;
/*z-index: 1;*/
}
.live-point:before {
content: "";
position: absolute;
top: 19px;
left: 0;
width: 100%;
height: 1px;
}
.live-wrap #mytimeline,
.live-wrap .history-wrap {
display: none;
}

/*edit of live-point (live-wrap edition)*/
.live-point .mid-wrap { width: 88%; padding-right: 23px;}
.live-point ul.one { width: 23%!important;}
.live-point.column_1 ul { width: 77%;}
.live-point.column_2 ul { width: 38.5%;}
.live-point.column_3 ul { width: 25.666666%;}
.live-point.column_4 ul { width: 19.25%;}
.live-point.column_5 ul { width: 15.4%;}
.live-point.column_6 ul { width: 12.833333%;}
.live-point.column_7 ul { width: 11%;}

/*baseball*/
.live-wrap.bg-00003 ul.base { 
width: 38px!important;
height: 66px;
}
.live-wrap .live-point.column_9 ul.one { width: 25%!important;}
.live-wrap .live-point.column_9 ul { width: 7%;}
.live-wrap .live-point.column_10 ul.one { width: 22%!important;}
.live-wrap .live-point.column_10 ul { width: 7%;}
.live-wrap .live-point.column_11 ul.one { width: 23%!important;}
.live-wrap .live-point.column_11 ul { width: 6%;}
.live-wrap .live-point.column_12 ul.one { width: 20%!important;}
.live-wrap .live-point.column_12 ul { width: 6%;}
.live-point.column_12 .mid-wrap { padding-right: 23px;}

.row-wrap .icon{ display:none}
.noevents{
text-align: center;
padding: 10px 5px;
margin:0 0 15px 0;
}
.noicon .toggle-icon{ display:none}
.icon-next02{
    float: right;
    position: absolute;
    top: 0px;
    right: 14px;
}
.blockOverlay{ top: 40px;}
.outright{ margin-top:10px}
.mr15{ margin-right:10px;}