<style type="text/css" media="screen">
    #footer{width:100%;height: 52px;position: fixed;left:0;bottom:0;background-color:#ad2e0e;z-index:100;}
#footer ul li{float:left;width:25%;text-align:center;margin-top:6px;}
#footer ul li a{display: inline-block;}
#footer ul li a span{width:25px;height:25px;}
#footer ul li a span img{width:25px;height:25px;}
#footer ul li a p{font-size:14px;color:white;}
</style>
<div id="footer">
        <ul>
            <li>

             <a href="__APP__/Proxy/index">
            <span>
                <img src="/Public/images/agent.png" alt="">
            </span>
            <p>代理联盟</p>
            </a>
            </li>
            <li>
                <a href="#" onclick="location.href='/index.php/Moneychange/index'">
            <span>
                <img src="/Public/images/exchange.png" alt="" style="width:33px">
            </span>
            <p>额度转换</p>
            </a>
            </li>
           <li>
             <a href="#"   onclick="location.href='/index.php/Message/index'">
                    <span>
                        <img src="/Public/images/msg.png" alt="" >
                    </span>
                    <p>消息中心</p>
                </a>
            </li>
            <li>
                 <a href="#"  onclick="location.href='__APP__/Index/kefu'">
                    <span>
                        <img src="/Public/images/csservice.png" alt="">
                    </span>
                    <p>在线客服</p>
                </a>
            </li>
        </ul>
    </div>
